body {
    background-color: #f7f5f0;
    color: #1c1c1c;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    padding: 80px 20px;
    border-bottom: 1px solid #d8d4ca;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

header p {
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
}



h2 {
    font-size: 28px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

img {
    width: 300px;
    height: auto;
}